* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.ms_orange {
   background-color: #CD3D0F;
   color: #fff;
}

.ms_blue {
    background-color: #2D64E6;
    color: #fff;
}

.ms_white {
    background-color: #F5F5F5;
    color: #000;
}

.ms_gray {
    background-color: #D9DADC;
    color: #2D64E6;
}

/* Header */
.ms_container-header {
    background-color: #000;

}

.ms_box-brand {
    background-color: #000;
    height: 35px;
    width: 100%;
}

.sony-logo {
    width: 65px;
}

.fa-chevron-down {
    padding-top: 3px;
    padding-left: 4px;
    color: #999999;
}

.ms_li-nav {
    padding: 0px 10px;
}

.ms_a-nav {
    font-weight: 600;
    color: #000;
}

.ms_btn-accedi {
    border-radius: 20px;
}

.fa-search {
    font-size: 22px;
}
/* Header */

/* Jumbotron */
.ms_jumbotron {
    width: 100%;
}

.ms_container-jumbo-img {
    background-image: url(img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 676px;
}

.ms_col-pbl {
    width: 355px;
    padding: 10px 0px;
    margin-left: 60px;
    line-height: 26px;
}

.ms_returnal {
    width: 200px;
}

.ms_btn {
    border-radius: 20px;
    display: block;
}

.ms_container-jumbo-select {
    width: 100%;
    height: 150px;
}

.ms_col-select {
    width: 200px;
    margin: 0px 8px;  
}

.ms_border-select {
    box-sizing: border-box;
    border: 2px solid #0072CE;
}

.ms_img-select {
    width: 175px;
    height: 95px;
    border-radius: 20px;
    padding: 3px 3px;
}
/* Jumbotron */

/* Presentazione prodotti */
.ms_prodotti {
    height: 1200px;
}

#play {
    font-size: 14px;
    font-weight: 600;
    color: #0072CE;
}

.ms_text-prodotti {
    color: #727272;
    font-size: 15.7px;
    font-weight: 600;
}

.ms_container-prodotto {
    width: 100%;
}

.ms_box-infoprodotto {
    margin-top: 220px;
    width: 460px;
}

#img-play5 {
    max-width: 750px;
}

.ms_col-prodotti {
    width: 170px;
    margin: 0px 45px;  
}

.ms_br-bottom {
    box-sizing: border-box;
    border-bottom: 2px solid #0072CE;
}
/* Presentazione prodotti  */

/* Presentazione gioco */
.ms_box-pbl-gioco {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 645px;
    margin-top: 30px;
}
/* Presentazione gioco */

/* Nuove uscite */
.ms_nuove-uscite {
    background-color: #1F1F1F;
}

.ms_container-new {
    width: 100%;
}

.ms_col-new {
    width: 210px;
    margin: 0px 3px;  
}

.ms_img-new {
    width: 210px;
    height: 180px;
    border-radius: 15px;
}

.ms_row-nu {
    width: 500px;
}

.ms_text-new {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
/* Nuove uscite */

/* Esplora prodotti */
.ms_img-esplora {
    width: 400px;
}

.ms_col-esplora {
    width: 430px;
}
/* Esplora prodotti */

/* Play plus */
.ms_plus {
    background-color: #BEBCBB;
    margin-top: 60px;
    height: 450px;
}

.ms_logo-plus {
    width: 350px;
}

.ms_img-plus {
    width: 615px;
    margin-left: 90px;
}
/* Play plus */

/* Box sconti */
.ms_col-sconti {
    width: 400px;
    padding-bottom: 70px;
}
/* Box sconti */

/* Play now */
.ms_now {
    background-color: #161C3B;
    margin-top: 60px;
    height: 450px;
}

.ms_logo-now {
    width: 350px;
}

.ms_img-now {
    width: 615px;
    margin-left: 90px;
}
/* Play now */