* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.ms_orange {
   background-color: #CD3D0F;
   color: #fff;
}

.ms_blue {
    background-color: #2D64E6;
    color: #fff;
}

.ms_white {
    background-color: #F5F5F5;
    color: #000;
}

.ms_gray {
    background-color: #D9DADC;
    color: #2D64E6;
}

/* Header */
.ms_container-header {
    width: 100%;
    position: fixed;
    z-index: 100;
}

.ms_box-brand {
    background-color: #000;
    height: 35px;
    width: 100%;
}

.ms_box-navbar {
    background-color: #fff;
}

.sony-logo {
    width: 85px;
    padding-right: 10px;
}

.fa-chevron-down {
    padding-top: 3px;
    padding-left: 4px;
    color: #999999;
}

.ms_li-nav {
    padding: 0px 10px;
    position: relative;
    z-index: 80;
}

.ms_a-nav {
    font-weight: 600;
    color: #0D0D0D;
}

.ms_btn-accedi {
    border-radius: 20px;
}

.fa-search {
    font-size: 22px;
}
/* Header */

/* Jumbotron */
.ms_jumbotron {
    width: 100%;
    padding-top: 105px;
}

.ms_container-jumbo-img {
    background-image: url(img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 676px;
}

.ms_col-pbl {
    width: 355px;
    padding: 10px 0px;
    margin-left: 60px;
    line-height: 26px;
}

.ms_returnal {
    width: 200px;
}

.ms_btn {
    border-radius: 20px;
    display: block;
}

.ms_container-jumbo-select {
    width: 100%;
    height: 150px;
}

.ms_col-select {
    width: 15%;
    margin: 0px 8px;  
}

.ms_border-select-active {
    box-sizing: border-box;
    border: 2px solid #0072CE;
}

.ms_border-select {
    box-sizing: border-box;
    border: 2px solid transparent;
}

.ms_border-select:hover {
    border: 2px solid #0072CE;
}

.ms_img-select {
    width: 100%;
    height: 85%;
    border-radius: 20px;
    padding: 3px 3px;
}
/* Jumbotron */

/* Presentazione prodotti */
.ms_prodotti {
    height: 40%;
}

.ms_box-prodotti {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ms_box-intestazione {
    position: relative;
    z-index: 90;
}

#play {
    font-size: 14px;
    font-weight: 600;
    color: #0072CE;
}

.ms_container-nav-prod {
    width: 100%;
    position: relative;
    z-index: 90;
}

.ms_text-prodotti {
    color: #727272;
    font-size: 15.7px;
    font-weight: 600;
}

.ms_container-prodotto {
    width: 100%;
}

.ms_box-infoprodotto {
    margin-top: 250px;
    width: 35%;
    padding-left: 50px;
    position: relative;
    z-index: 90;
}

.ms_box-img-play5 {
    width: 70%;
    cursor: pointer;
}

#img-play5 {
    width: 100%;
}

.ms_col-prodotti {
    width: 15%;
    margin: 0px 30px;  
}

.ms_br-bottom-active {
    box-sizing: border-box;
    border-bottom: 2px solid #0072CE;
}

.ms_br-bottom {
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
}

.ms_br-bottom:hover {
    box-sizing: border-box;
    border-bottom: 2px solid #0072CE;
}
/* Presentazione prodotti  */

/* Presentazione gioco */
.ms_box-pbl-gioco {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 645px;
    margin-top: 30px;
}

.ms_col-pbl-gioco {
    width: 355px;
    padding: 10px 0px;
    margin-left: 60px;
    line-height: 26px;
}

.ms_takes {
    width: 200px;
}
/* Presentazione gioco */

/* Nuove uscite */
.ms_nuove-uscite {
    background-color: #1F1F1F;
}

.ms_container-new {
    width: 98%;
}

.ms_col-new {
    width: 15.5%;  
}

.ms_img-new {
    width: 100%;
    height: 75%;
    border-radius: 15px;
}

#row-giochi {
    padding-top: 40px;
}

.ms_row-nu {
    width: 100%;
}

.ms_widht-row {
    width: 100%;
}

.ms_text-new {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
/* Nuove uscite */

/* Esplora prodotti */
.ms_col-esplora {
    width: 30%;
}
/* Esplora prodotti */

/* Play plus */
.ms_plus {
    background-color: #BEBCBB;
    margin-top: 60px;
}

.ms_logo-plus {
    width: 350px;
}

.ms_img-plus {
    width: 585px;
}

.ms_text-plus {
    width: 75%;
}
/* Play plus */

/* Box sconti */
.ms_col-sconti {
    width: 30%;
    padding-bottom: 70px;
}

.ms_row-sconti {
    margin-left: 20px;
}
/* Box sconti */

/* Play now */
.ms_now {
    background-color: #161C3B;
    margin-top: 60px;
}

.ms_logo-now {
    width: 350px;
}

.ms_img-now {
    width: 540px;
}
/* Play now */

/* Social */
.ms_col-social {
    width: 130px;
    padding-bottom: 70px;
}
/* Social */

/* Footer */
.ms_footer {
    width: 100%;
    height: 500px;
    background-color: #00439C;
}

.ms_box-footer-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ms_box-footer-2 {
    height: 40%;
    width: 100%;
}

.ms_row-link {
    padding-left: 100px;
    padding-top: 40px;
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.ms_colfooter-1 {
    height: 70px;
}

.ms_rowfooter-1 {
    padding-top: 50px;
}

.ms_logo-footer {
    width: 95px;
}

.ms_logo-sie {
    width: 130px;
}

.ms_col-footer-text {
    width: 500px;
}
/* Footer */

/* Responsive */
@media only screen and (max-width: 1200px) {

    /* Header */
    .ms_a-nav {
        font-size: 12.5px;
    }
    /* Header */

    /* Jumbotron */
    .ms_col-select {
       width: 15%;
       height: 80%;
    }
    /* Jumbotron */

    /* Box prodotto */
    .ms_prodotti {
        height: 35%;
    }

    #img-play5 {
        max-width: 100%;
    }

    .ms_col-prodotti {
        width: 16%;
        margin: 0px 15px;
    }
    /* Box prodotto */

    /* Lista giochi */
    .ms_col-new {
        width: 15.5%;
        height: 60%;
    }
    /* Lista giochi */
}

@media only screen and (max-width: 992px) {

    /* Header */
    .ms_a-nav {
        font-size: 12.5px;
    }

    .ms_navbar-right {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    /* Header */

    /* Jumbotron */
    .ms_jumbotron {
        height: 1050px;
    }

    .ms_col-pbl {
        width: 590px;
    }

    .ms_col-pbl-gioco {
        width: 590px;
    }

    .ms_col-select {
       width: 30%;
       height: 100%;
    }

    .ms_returnal {
        width: 350px;
    }
    /* Jumbotron */

    /* Box prodotto */
    .ms_prodotti {
        height: 35%;
    }

    .ms_box-infoprodotto {
        margin-top: 150px;
        width: 38%;
    }

    .ms_box-img-play5 {
        width: 60%;
    }

    #img-play5 {
        max-width: 690px;
    }

    .ms_col-prodotti {
        width: 17%;
        margin: 0px 10px;
    }
    /* Box prodotto */
    
    /* Play plus */
    .ms_col-pbl {
        width: 675px;
    }

    .ms_box-img-plus {
        width: 60%;
    }

    .ms_logo-plus {
        width: 250px;
    }

    .ms_img-plus {
        width: 390px;
    }

    .ms_text-plus {
        width: 95%;
    }
    /* Play plus */

    /* Box esplora prodotto */
    .ms_col-esplora {
        width: 24.5%;
        margin: 0px 25px;
    }
    /* Box esplora prodotto */

    /* Lista giochi */
    .ms_col-new {
        width: 30%;
        height: 60%;
        padding-top: 20px;
    }

    #row-giochi {
        padding-top: 0px;
    }
    /* Lista giochi */

    /* Play now */
    .ms_col-pbl {
        width: 675px;
    }

    .ms_box-img-now {
        width: 60%;
    }

    .ms_logo-now {
        width: 200px;
    }

    .ms_img-now {
        width: 330px;
    }
    /* Play now */

    /* Footer */
    .ms_footer {
        height: 750px;
    }

    .ms_row-link {
        width: 100%;
        padding-left: 0px;
        padding-bottom: 50px;
    }

    .ms_col-footer-text {
        width: 90%;
    }

    .ms_box-footer-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .ms_box-footer-2 {
        height: 20%;
    }
    /* Footer */
}

@media only screen and (max-width: 768px) {

    /* Jumbotron */
    .ms_jumbotron {
        height: 950px;
    }

    .row_jumbo-sm {
        width: 90%;
    }

    .ms_col-pbl {
        width: 675px;
        margin-left: 40px;
    }

    .ms_col-select {
        height: 80%;
    }
    /* Jumbotron */

    /* Box presentazione gioco  */
    .ms_box-pbl-gioco {
        height: 550px;
    }

    .ms_col-pbl-gioco {
        width: 520px;
        margin-left: 40px;
    }

    .ms_takes {
        width: 280px;
    }
    /* Box presentazione gioco */

    /* Box prodotto */
    .ms_prodotti {
        height: 35%;
    }

    .ms_box-prodotti {
        flex-direction: column;
        align-items: center;
    }

    .ms_box-infoprodotto {
        margin-top: 0px;
        width: 95%;
    }

    .ms_box-img-play5 {
        width: 90%;
    }

    #img-play5 {
        max-width: 690px;
    }

    .ms_col-prodotti {
        width: 28%;
        margin: 10px 10px;
    }

    .ms_display-none {
        display: none;
    }
    /* Box prodotto */
    
    /* Play plus */
    .ms_row-plus {
        height: 260px;
        width: 98%;
    }

    .ms_col-plus {
        width: 98%;
        padding-top: 10px;
    }
    /* Play plus */

    /* Box esplora prodotto */
    .ms_col-esplora {
        width: 93%;
        margin: 0px 25px;
    }
    /* Box esplora prodotto */

    /* Play now */
    .ms_col-pbl {
        width: 675px;
    }

    .ms_now {
        height: 260px;
    }
    /* Play now */

    /* Box sconti */
    .ms_sconti {
        height: 80%;
    }

    .ms_col-sconti {
        width: 90%;
        padding-bottom: 70px;
    }
    /* Box sconti */

    /* Footer */
    .ms_footer {
        height: 950px;
    }

    .ms_row-link {
        width: 100%;
        padding-left: 0px;
        padding-bottom: 40px;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
    }

    .ms_col-footer-text {
        width: 90%;
    }

    .ms_box-footer-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .ms_box-footer-2 {
        height: 20%;
    }
    /* Footer */

}

@media only screen and (max-width: 576px) {

    /* Jumbotron */
    .ms_jumbotron {
        height: 1180px;
    }

    .row_jumbo-sm {
        width: 90%;
    }

    .ms_col-pbl {
        width: 65%;
        margin-left: 30px;
    }

    .ms_col-select {
        width: 45%;
        height: 100%;
    }
    /* Jumbotron */

    /* Box presentazione gioco  */
    .ms_box-pbl-gioco {
        height: 580px;
    }

    .ms_col-pbl-gioco {
        width: 450px;
        margin-left: 30px;
    }

    .ms_takes {
        width: 280px;
    }
    /* Box presentazione gioco */

    /* Lista giochi */
    .ms_col-new {
        width: 45%;
        height: 65%;
        padding-top: 20px;
    }

    #row-giochi {
        padding-top: 0px;
    }
    /* Lista giochi */

    /* Box prodotto */
    .ms_prodotti {
        height: 35%;
    }

    .ms_box-prodotti {
        flex-direction: column;
        align-items: center;
    }

    .ms_box-infoprodotto {
        margin-top: 0px;
        width: 95%;
    }

    .ms_box-img-play5 {
        width: 90%;
    }

    #img-play5 {
        max-width: 690px;
    }

    .ms_col-prodotti {
        width: 28%;
        margin: 10px 10px;
    }

    .ms_display-none {
        display: none;
    }
    /* Box prodotto */

    /* Box esplora prodotto */
    .ms_col-esplora {
        width: 93%;
        margin: 0px 25px;
    }
    /* Box esplora prodotto */

    /* Box sconti */
    .ms_sconti {
        height: 80%;
    }

    .ms_col-sconti {
        width: 90%;
        padding-bottom: 70px;
    }
    /* Box sconti */

    /* Social */
    .ms_col-social {
        width: 50%;
    }
    /* Social */

    /* Footer */
    .ms_footer {
        height: 950px;
    }

    .ms_row-link {
        width: 100%;
        padding-left: 0px;
        padding-bottom: 40px;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
    }

    .ms_col-footer-text {
        width: 90%;
    }

    .ms_box-footer-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .ms_box-footer-2 {
        height: 20%;
    }
    /* Footer */
}

@media only screen and (max-width: 470px) {

    /* Box selezione gioco */
    .ms_col-select {
        width: 50%;
        margin: 0px 0px;
    }
    /* Box selezione gioco */

    /* Box presentazione gioco */
    .ms_box-pbl-gioco {
        height: 620px;
    }

    .ms_col-pbl-gioco {
        width: 80%;
        margin-left: 30px;
    }
    /* Box presentazione gioco */

    /* Play plus */
    .ms_row-plus {
        height: 273px;
        width: 98%;
        margin-right: 20px;
    }

    .ms_now {
        height: 285px;
    }
    /* Play plus */

}

@media only screen and (max-width: 360px) {

    /* Box selezione gioco */
    .ms_col-select {
        width: 50%;
        height: 60%;
        margin: 0px 0px;
    }

    .ms_jumbotron {
        height: 1030px;
    }
    /* Box selezione gioco */

    /* Jumbotron */
    .ms_returnal {
        width: 250px;
    }
    /* Jumbotron */

    /* Box presentazione gioco */
    .ms_box-pbl-gioco {
        height: 650px;
    }
    /* Box presentazione gioco */

    /* Play plus */
    .ms_row-plus {
        height: 340px;
        width: 98%;
        margin-right: 20px;
    }

    .ms_logo-plus{
        width: 200PX;
    }

    .ms_now {
        height:380px;
    }
    /* Play plus */

    /* Footer */
    .ms_footer {
        height: 1100px;
    }
    /* Footer */

}
/* Responsive */